body {
    margin: 0;
    flex-wrap: wrap;
    display:flex;
    flex-direction:column;
    
}

h3{
    text-align:center;
    margin: 5px;
    color: #EEEEEE;
    font-family: verdana;
    font-size: 32;
    
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    width: 100%;
    height: 50%;
    padding-top: 20px;


}
.homediv, .guestdiv{
    display:flex;
    flex-direction: column;
    background-color: #1B244A;
    gap: 26px;
    width: 155px;
}
.firstbox, .secondbox{
    background-color: 080001;
    border:1px solid black;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 118px;
    width: 153px;
    
}
.homebuttons, .guestbuttons{
     background-color: #1B244A;
     display: flex;
     justify-content: space-between;
     height:45px;
}
button{
    border-radius: 3px;
    border: px solid #9AABD8;
    height: 45px;
    width:45px;
    background-color: inherit;
    color: #9AABD8;
    cursor: pointer;
}
button:hover{
    background-color: #010205;
    color: #fa6580;
    box-shadow: 0 8px 16px 0 #F94F6D;
}
button:active {
  box-shadow: 0 8px 16px 0 #F94F6D;
  transform: translateY(5px);
}

p{
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: 127px;
    font-family: 'Cursed Timer ULiL';
    color: #F94F6D;
    text-align: center;
    width: 117px;
    height: 120px;
    left: 355px;
    top: 125px; 
}

.extrafunctions{
    background-color: #1B244A;
    display:flex;
    flex-direction: column;
    width: 894px;
    /* justify-content: center; */
    align-items: center;
    width: 150px;
    gap: 5px;
}

#reseter,#pause,#resume,#restart, #start{
    color: #9AABD8;
    background-color: inherit;
    height: 45px;
    width:inherit;
    font-size: 15
}
#reseter:hover,#pause:hover,#resume:hover,#restart:hover, #start:hover{
    background-color: #9AABD8;
    color: white;
    box-shadow: 0 8px 16px 0 #F94F6D;
}
.timer-container{
    background-color: black;
    color: #9AABD8;
    border-radius: 10px;
    height: 55px;
    width: inherit;
    border-radius: 3px;
    justify-content:center;
    align-items: center;
    display: flex;
    
}
#timer-display {
    display: inline-block; /* Ensures consistent sizing */
}
#timer-display{
    font-family: 'Cursed Timer ULiL';
    font-size: 28px;
    font-style: normal;
    color: #F94F6D;
    font-weight: bold;
}